body {
    color: #000;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}

.container {
    width: 1115px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.header {
    padding: 23px 0 31px;

}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;

}

.header-contact-link {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-conact-text {
    color: #000;
}

.header-nav-link {
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

}

.desc {
    padding: 170px 0;
    background-color: #191E22;
    background-image: url(../img/banner2.jpg);
}

.desc-title {
    margin: 0 0 131px;
}

.desc-title,
.desc-link {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
}

.desc-link {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    background: #005FA3;
    width: 333px;
    min-height: 84px;
    display: block;
}

.service {
    background: #EBEBEB;
    padding: 140px 0;
}

.section-title {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    margin: 0 0 40px;
}

.service-item-link {
    background-image: url(../img/building.png);
    background-size:cover;
    text-decoration: none;
    background-size: cover;
    width: 350px;
    min-height: 360px;
    display: block;
    padding: 45px;
}

.section-subtitle {
    color: #333;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.section-subtitle-blue {
    color: #005FA3;
}

.service-subtitle {
    margin: 0 0 102px;
}

.service-item-title {
    color:#FFF;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
}

.adv-text {
    font-size: 36px;
    font-weight: 700;
}

.button {
    color: #FFF;
    font-weight: 400;
    font-family: inherit;
    line-height: inherit;
    background-color:#005FA3;
    border: none;
}

.review {
    padding: 174px 0  120px;
}

.review-item {
    background-color:#EBEBEB;
    padding: 45px 95px;
}

.review-item-text {
    color:#000;
    margin: 0 0 58px;
}

.review-item-author {
    color:#000;
    font-weight: 900;
}

.review-item-position {
    color:#4F4F4F;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.review-button {
    min-height: 60px;
    width: 270px;
}

.review-slider-button {
    width: 10px;
    height: 10px;
    background-color:#005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}

.review-slider-arrow {
    width: 60px;
    height: 60px;
    background-color:#005FA3;
    padding: 0;
    border: 0;
    opacity: 0.2;
}

.review-slider-button-active {
    opacity: 1;
}

.about {
    padding: 140px 0;
}

.about-subtitle {
    margin: 0 0 60px;
}

.about-item {
    background: #EBEBEB;
    min-height: 255px;
    width: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.about-item-num {
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
    margin: 0 0 30px;
}

.about-item-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0 0 47px;
}

.about-item-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color:#005FA3;
}

.clients {
    background:#EBEBEB;
    padding: 85px 0 92px;
}

.clients-subtitle {
    margin: 0 0 43px;
}

.advatages {
    background:#EBEBEB;
    padding: 102px 0 116px;
}

.advatages-subtitle {
    margin: 0 0 103px;
}

.advatages-desc {
    font-size: 36px;
    font-weight: 700;
    line-height: 47.52px;
}

.footer-bkg {
    background-color:#161616;
    color: #FFF;
    background-image: url(../img/banner.jpg);
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-subtitle {
    margin: 0 0 60px;
    }

.footer-questions {
    margin: 0 0 80px;
}

.white {
    color:#FFF;
}

.footer-contact-text {
    font-size: 21px;
    line-height: 19px;
}

.footer-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

.foot-link {
    color: inherit;
    text-decoration: none;
}

.foot-about {
    padding: 50px 0;
}